* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

header, footer {
    background-color: #748a75;
    padding-top: 16px;
    color: #fff;
}

header {
    position: sticky;
    top:0;
    left: 0;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

section {
    margin-bottom: 16px;
}

section h2 {
    padding: 16px 0;
    margin-bottom: 16px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input{
    width: 100%;
    display: block;
    padding: 8px;
}

select {
    width: 50%;
    display: block;
    padding: 8px;
}

form {
    max-width: 360px;
}

#uf {
    max-width: 80px;
}

form button {
    max-width: 160px;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #748a75;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}s


footer {
    position: relative;
}

footer li {
    list-style: none;
    margin-left: 16px;
    }
    
footer li img {
    height: 32px;
}
